@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 6%, 91%);
}

header {
  font-family: "Playfair Display", serif;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em;
  margin-right: 4em;
}

header li {
  padding: 0.5em;
}

header a {
  text-decoration: none;
  color: black;
  padding: 0.1em;
}



header a:visited {
  color: grey;
}

header a:hover {
    color: white;
    background-color: grey; 
}

.container {
  display: grid;
  grid-template-columns: 300px (6, 1fr);
  grid-template-rows: repeat(8, 100px);
}

.container div {
}

.container p {
  font-family: "Playfair Display", serif;
  font-size: 2.75em;
  display: grid;
  place-items: center;
  width: 30vw;
  margin: 0.25em;
  padding: 0.15em;
}

.container p span {
  font-style: italic;
}

div img {
  background-image: url(/img/Bauhaus\ Dessau.004scaled.jpg);
  width: 1000px;
  height: 700px;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 8;
}

div img:focus {
  background-image: url(/img/Bauhaus\ Dessau.004.WFscaled.jpg);
  width: 900px;
  height: 600px;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 8;
}



@media screen and (max-width: 780px) {

  div img {
    width: 600px;
    height: 450px; 
  }
}
