* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 6%, 91%);
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.75em;
  display: grid;
  place-items: center;
  width: 30vw;
  margin: 0.25em;
  padding: 0.15em;
}
