header {
    font-family: "Playfair Display", serif;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
  }
  
  header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.25em;
    margin-right: 4em;
  }
  
  header li {
    padding: 0.5em;
  }
  
  header a {
    text-decoration: none;
    color: black;
    padding: 0.1em;
  }
  
  header a:visited {
    color: grey;
  }
  
  header a:hover {
      color: white;
      background-color: grey; 
  }
  