// You can overwrite bootstrap default values here.
// Refer node_modules/bootstrap/scss/_variables for a full list of variables.

// $primary: #d97700;
// $secondary: rgb(34, 255, 0);
// $danger: #ff36ee;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 600px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
// );

// $spacer: 1rem;

$headercolor: hsl(237, 39%, 40%);
$box-shadow: 1px 1px 3px hsl(0, 0%, 65%);
$form-margin: 0.5em; 
$form-padding: 2em; 