.container {
    display: flex;
    flex-direction: row; 
    margin: 0.25em; 
  }
  
  .container div {
    border: 1px solid black;
  }
  
  .text,
  .imagecontainer {
    height: 90vh;
    width: 45vw;
    border: 1px solid black;
  }
  
  .text p {
   height: 20vh;
   width: 30vw;
   display: flex;
   align-items: flex-end;
   justify-content: center;

  }

  
  .imagecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

  }

