main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container,
.formcontainer {

    
    width: 40vw;
    height: 70vh;
    padding: 2em;
    margin-right: 2em; 
}

.container p {
    padding: 0.5em; 
    line-height: 25px;
}

.formcontainer {
    padding: 4em;
    font-family: "Playfair Display", serif;

    form {
        margin-bottom: 1em; 
    }

    input, textarea {
        box-shadow: 1px 1px 3px grey;
    }


input {
    width: 600px;
    padding: 0.25em; 
    margin: 0.5em; 
}

label {
    margin-left: 0.25em;

}

textarea {
    height: 350px;
    width: 600px; 
    margin: 0.5em;
}

}

@media screen and (max-width: 800px) {

    main {
        display: block; 
    }
}