
main {
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container,
.formcontainer {
    width: 40vw;
    height: 70vh;
    padding: $form-padding;
    margin-right: 2em;
}

.container p {
    padding: 0.5em;
    line-height: 25px;
}

.formcontainer {
    
    padding: $form-padding;
    font-family: "Playfair Display", serif;

    input,
    textarea {
        box-shadow: $box-shadow;
    }

    input {
        width: 600px;
        padding: 0.25em;
        margin: $form-margin;
    }

    label {
        margin-left: $form-margin;
    }

    textarea {
        height: 350px;
        width: 600px;
        margin: $form-margin;
    }
}

/////////////////////////////////////////////////////////////////


// Media queries for tablet view //


/////////////////////////////////////////////////////////////////


@media screen and (max-width: 800px) {

    main {
        display: block;
    }
}